{% extends "base.html" %}

{% block title %}Додати продукти до замовлення{% endblock %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'order_generator:home' %}">Home</a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'order_generator:create_order' %}">Nowe zamówienie</a>
        <form action="{% url 'order_generator:generate_one_order_pdf' %}" method="post" target="_blank" style="display: inline;">
            {% csrf_token %}
            <input type="hidden", name="order_number", value="{{ order.nr_order }}" , id="order_number">
            <button type="submit" class="btn btn-outline-secondary">Wydrukować</button>
        </form>
    </nav>
{% endblock %}

{% block content %}
    <h3>Nr zamówienia: №{{ order.nr_order }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3" type="number">
            <span class="input-group-text" >SKU/EAN:</span>
            <input type="number" class="form-control" name="sku" id="sku" required>
        </div>

        <div class="input-group mb-3"  id="product-name">
            <span>Nazwa produktu: </span> <span id="product-name-value"></span>
        </div>

        <div class="input-group mb-3" type="number">
            <span class="input-group-text" >Ilość: </span>
            <input type="number" class="form-control" name="quantity" id="quantity" required>
        </div>

        <div class="input-group mb-3" type="number">
            <span class="input-group-text" >Ilość pełnowartościowa: </span>
            <input type="number" class="form-control" name="quantity_not_damaged" id="quantity_not_damaged" required>
        </div>
        <button class="btn btn-secondary"  type="submit">Kontynuować</button>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var skuInput = document.getElementById("sku");
        var productNameValue = document.getElementById("product-name-value");

        skuInput.addEventListener("blur", function() {
            if (!skuInput.disabled) {
                var sku = skuInput.value;
                if (sku !== '') {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'order_generator:get_product_name' %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
                            productNameValue.textContent = data.product_name;
                        }
                    };
                    var data = "sku=" + sku;
                    xhr.send(data);
                } else {
                    productNameValue.textContent = '';
                }
            }
        });
    });
    </script>
{% endblock %}
