{% extends "base.html" %}
{% block title %}Створити замовлення{% endblock %}

{% block navigation %}
     <a class="btn btn-secondary" role="button" href="{% url 'order_generator:home' %}">Home</a>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3" type="number">
        <span class="input-group-text" id="inputGroup-sizing-default">Nr zamówienia:</span>
        <input id="order_number" name="order_number" type="number" class="form-control "><br>
        </div>


        <select id="tape_of_delivery" name="tape_of_delivery" class="form-select">
            <option  disabled selected value="" >Sposób dostawy</option>
            <option value="C">Paczka</option>
            <option value="P">Paleta</option>
        </select> <br>
        <button class="btn btn-secondary" type="submit">Kontynuować</button>
    </form>
{% endblock %}